body {
    background-color: #E3EBF4;
}
input {
    position: relative;
    width: 500px;
    height: 50px;
    font-size: 35px;
}
#talk_button {
    position: relative;
    top: 70px;
    height: 40px;
    width: 55px;
    background-color: #A3D1F0;
}
.content {
    position: relative;
    text-align: center;
    top: 400px;
}
#rens_mouth {
    position: relative;
    font-size: 35px;
    color: #353435;
    top: 90px;
}
