<div>
    <form method="POST" action="">
        <div>
            <input type="text" id="rens_ears" name="rens_ears">
        </div>
        <div>
            <button id="talk_button">Talk</button>
        </div>
    </form>
</div>

<div id="rens_mouth">
    {{rens_response}}
</div>
