<div>
    <form method="POST" action="">
        <input type="text" id="rens_ears" name="rens_ears">
        <button id="talk_button">Talk</button>
    </form>
</div>

<div id="rens_mouth">
    {{rens_response}}
</div>
